电影名称:{{title}}
宣传语: {{ tagline }}
电影概述: {{ overview }}
电影类型: {{ genres }}
电影预算: {{ budget }} 美元
电影收入: {{ revenue }} 美元
电影平均评分 (1-10): {{ average_rating }}
电影评分: {{ rating_count }}
电影上映日期: {{ release_date }}
电影时长: {{ runtime }} 分钟
